body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    max-width: 600px; /* Zmieniono szerokość na 600px (połowa z 400px) */
    margin: 50px auto;
    padding: 30px; /* Zmieniono padding na 30px (połowa z 60px) */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    margin-bottom: 15px;
    padding: 12px; /* Zmieniono padding na 12px (połowa z 24px) */
    border: 1px solid #ccc;
    border-radius: 6px; /* Zmieniono radius na 6px (połowa z 12px) */
}

/* Zwiększenie marginesu odstępu dla przycisku */
input[type="submit"] {
    margin-top: 100px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px 20px; /* Zmieniono padding na 15px 20px (połowa z 30px 40px) */
    border-radius: 8px; /* Zmieniono radius na 8px (połowa z 16px) */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Zwiększenie wysokości rozwijanej listy */
select {
    height: 40px; /* Zmieniono wysokość na 40px (połowa z 80px) */
}